.input-add-note {
    margin-bottom: 15px;
}

.label-add-note {
    color: rgba(173, 181, 189, 1);
    font-weight: 600;
    font-size: 1rem;
}


.button-add {
    display: block;
    margin-left: auto;
}
